{% extends "base.html" %}
{% load bootstrap %}

{% block titulo %}
	
{% endblock titulo %}

{% block contenido %}
<form action="" method="POST" enctype="multipart/form-data" name=form1 >
 
	        {% for form in formset %}
            <div class="link-formset">
            {{ form.id }}

            <ul>
                    
                      <div class="col-6">{{form.estado_elemento_prestamo|bootstrap}}</div>                  
                      <div class="col-6">{{form.tipo_daño|bootstrap}}</div> 
                      <div class="col-6">{{form.descripcion|bootstrap}}</div> 
                      <br>
                      
                   
            </ul>
            </div>
             
        {% endfor %}  

		{% csrf_token %}
        <div class="col-md-6">
            
            {{formulario|bootstrap}}
      
            {{ formset.management_form }}
            </div> 
        
        {% for form in formset %}
   
            <div >
            {{ form.id }}
            <ul>
                    <div class="row">
                      <div class="col-2">{{form.material|bootstrap}} </div>

                      <div class="col-2">{{form.estado_devolucion|bootstrap}}</div>
                      <div class="col-2">{{form.cantidad|bootstrap}} </div>
                      <div class="col-2">{{form.fecha_devolucion|bootstrap}}</div>
                      
                      <input type="button" value="<--" onclick="disminuir()">
                    </div>
                     
                     
            </ul>
            </div>
             
        {% endfor %}       
		       
                
  
		<input type="submit" value="AGREGAR DEVOLUCION">
	</form>

{% endblock contenido %}
    <script>
    $('.link-formset').formset({
        addText: 'agregar',
        deleteText: 'eliminar'
    });
</script>